.app-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

 grid-template-areas: 
 "header header "
 "nav main"
}

.logo {
  width: 100px;
  height: 60px;
}

.app-wrapper-content {
    background-color: rgba(27, 40, 54, 0.75);
    grid-area: main;
    border-radius: 4px;
    padding: 10px;
}









